.myparent {
  position: fixed;
  z-index: 5000;
  top: 0px;
  right: 0px;
   width: 300px;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #000000;
}