{{#if x}}
<div class="myparent">
{{my-component ms=inval}}
</div>
{{/if}}

<br><br>
{{input type='number' value=inval}}
<br><br>
<button onclick={{action (mut x) (if x false true)}}>Toggle</button>
{{x}}